<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="WrathDialogSim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="lib"/>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <WrathDialogSim.Properties.Settings>
   <setting name="ShowDialogueNo" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowDialogueId" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="EnableTranslation" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowSource" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowCondition" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AuthToken" serializeAs="String">
    <value />
   </setting>
   <setting name="OptionsCollapsed" serializeAs="String">
    <value>False</value>
   </setting>
  </WrathDialogSim.Properties.Settings>
 </userSettings>
</configuration>